asgiref==3.12.1
asttokens==3.0.2
black==26.5.1
click==8.4.2
colorama==0.4.6
crispy-bootstrap5==2026.3
decorator==5.3.1
Django==5.2.16
django-crispy-forms==2.6
django-extensions==4.1
django-filter==26.1
django-widget-tweaks==1.5.1
et_xmlfile==2.0.0
executing==2.2.1
flake8==7.3.0
gunicorn==26.0.0
iniconfig==2.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
isort==8.0.1
jedi==0.20.0
joblib==1.5.3
matplotlib-inline==0.2.2
mccabe==0.7.0
mypy_extensions==1.1.0
narwhals==2.24.0
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.5
parso==0.8.7
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.11.0
plotly==6.9.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.12
pure_eval==0.2.3
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.1.1
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
scikit-learn==1.9.0
scipy==1.17.1
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
threadpoolctl==3.6.0
traitlets==5.15.1
typing_extensions==4.16.0
tzdata==2026.3
wcwidth==0.8.2
whitenoise==6.12.0
xlsxwriter==3.2.9
