{% extends "base/crud_page.html" %}

{% block title %}
Hapus Data
{% endblock %}

{% block page_title %}
Hapus Data
{% endblock %}

{% block crud_content %}

<form method="post">

    {% csrf_token %}

    <input type="hidden" name="next" value="{{ request.GET.next }}">

    <div class="alert alert-danger">
        Yakin ingin menghapus <strong>{{ object }}</strong>?
    </div>

    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash me-1"></i>
        Hapus
    </button>

    <a href="{{ request.GET.next|default:cancel_url }}" class="btn btn-secondary">
        Batal
    </a>

</form>

{% endblock %}
